@model DogAdoptionApp.Models.Shelter

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ShelterName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShelterName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShelterAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShelterAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShelterWebsite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShelterWebsite)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>