@model IEnumerable<DogAdoptionApp.Models.Shelter>

@{
    ViewBag.Title = "Shelters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Shelters</h2>

    @if (User.Identity.IsAuthenticated)
    {
    <div class="btn">
        @Html.ActionLink("Add a New Shelter", "Create")
    </div>
    }
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Shelter's Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Website
                </th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th>
                        Action
                    </th>
                }
            </tr>
          </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShelterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShelterAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShelterWebsite)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ShelterId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ShelterId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ShelterId })
                        </td>
                    }
                </tr>
            }
        </tbody>
</table>
</div>